@tailwind base;
@tailwind components;
@tailwind utilities;


.sidebar,
.sidebarRight,
.userChatBar {
    background: #485563;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #29323c, #485563);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #29323c, #485563);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.chatScreen ::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #555;
}

::-webkit-scrollbar-thumb {
    background: #95129a;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #6c066f;
}

.formBtn {
    background-image: linear-gradient(to right, #a507aa 0%, #610455 51%, #aa07a7 100%);
    margin-top: 15px;
    padding: 12px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: block;
}

.formBtn:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

h1 {}

h3 {}